// Layout variables partial

$section-padding: 40px 0;

section.intro, section.instagram, section.features-extra, footer, .wedding-party-header{
	background: $section-light;
}
section.features, section.how-we-met, section.blog, section.rsvp, .wedding-party, #eng-pics, #eng-pics-header {
	background: $section-dark;
}
