{% extends 'other.html' %}

{% block content %}
<section id="eng-pics" class="section-padding">
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/eng_pics/_RFX2942-lg.jpg">
                    <img src="img/eng_pics/_RFX2942-sm.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                    <img src="img/eng_pics/IMG_3483-sm.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/tunnel.jpg">
                    <img src="img/eng_pics/_RFX3064-sm.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <a class="lightbox" href="../images/traffic.jpg">
                    <img src="img/eng_pics/_RFX2992-sm.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/coast.jpg">
                    <img src="img/eng_pics/NGP_4089-sm.jpg" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rails.jpg">
                    <img src="img/eng_pics/NGP_4119-sm.jpg" alt="Rails">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
