{% extends 'other.html' %}

{% block content %}

<!-- <p>stick some links to amazon etc. here at some point</p> -->
<a href="https://amzn.to/2MoOOOK">link to amazon</a>

<div class="wedding-product-tile">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71tuXbbE0TL._SR500,500_.jpg" class="wedding-product-tile__img">
    <div class="wedding-product-tile__container" style="background-color:rgba(0,0,0,0.02484817359018049)">
        <div class="wedding-product-tile__top-left">
                    <div class="wedding__text wedding__text--sm wedding__text--light"></div>
        </div>
        <div class="wedding-product-tile__top-right">
        </div>
        <div class="wedding-product-tile__bottom-left">
            <div class="wedding__text--price"><sup>$</sup>15<sup>00</sup></div>
        </div>
        <div class="wedding-product-tile__bottom-right wedding-product-tile__bottom-right--text">
                    <a href="javascript:;" class="wedding__text wedding__text--sm">
                        Add to Cart
                    </a>
        </div>
    </div>
    <div class="wedding-product-tile__label"></div>
    <a href="/dp/B01E5XD8OM?ref_=wedding_guest_view_product_tile&amp;colid=6Q97KZPX5FZP&amp;coliid=I2Z8VLY6CAN3KS" class="wedding-product-tile__link" aria-label=""></a>
</div>

{% endblock %}
