{% extends 'other.html' %}

{% block content %}

<!-- <p>stick some links to amazon etc. here at some point</p> -->
<a href="https://amzn.to/2MoOOOK">link to amazon</a>

<div class="container" id="registry-container">
  <div class="wedding-product-tile">
<a href="https://www.amazon.com/dp/B01E5XD8OM?ref_=wedding_guest_view_product_tile&colid=6Q97KZPX5FZP&coliid=I2Z8VLY6CAN3KS"><img class="amazon-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71tuXbbE0TL._SR500,500_.jpg"></img></a>
<p>$15.00</p>
  </div>
  <div class="wedding-product-tile">
<a href="https://www.amazon.com/dp/B000KEM4TQ?ref_=wedding_guest_view_product_tile&colid=6Q97KZPX5FZP&coliid=I31K62UPPY4O3P"><img class="amazon-item-img" src="https://images-na.ssl-images-amazon.com/images/I/81RJgkjJllL._SR500,500_.jpg"></img></a>
<p>$16.42</p>
  </div>
  <div class="wedding-product-tile">
<a href="https://www.amazon.com/dp/B002903KEW?ref_=wedding_guest_view_product_tile&colid=6Q97KZPX5FZP&coliid=I26O7NFX6YD8NQ"><img class="amazon-item-img" src="https://images-na.ssl-images-amazon.com/images/I/91VxTPzbB2L._SR500,500_.jpg"></img></a>
<p>$47.75</p>
  </div>
  <div class="wedding-product-tile">
<a href="https://www.amazon.com/dp/B007O1CAZQ?ref_=wedding_guest_view_product_tile&colid=6Q97KZPX5FZP&coliid=I2XZXJ2LOEZUQP"><img class="amazon-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71xb0bVeV5L._SR500,500_.jpg"></img></a>
<p>$59.99</p>
  </div>

  <!-- <div class="wedding-product-tile">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71tuXbbE0TL._SR500,500_.jpg" class="wedding-product-tile__img">
      <div class="wedding-product-tile__container" style="background-color:rgba(0,0,0,0.02484817359018049)">
          <div class="wedding-product-tile__top-left">
                      <div class="wedding__text wedding__text--sm wedding__text--light"></div>
          </div>
          <div class="wedding-product-tile__top-right">
          </div>
          <div class="wedding-product-tile__bottom-left">
              <div class="wedding__text--price"><sup>$</sup>15<sup>00</sup></div>
          </div>
          <div class="wedding-product-tile__bottom-right wedding-product-tile__bottom-right--text">
                      <a href="javascript:;" class="wedding__text wedding__text--sm">
                          Add to Cart
                      </a>
          </div>
      </div>
      <div class="wedding-product-tile__label"></div>
      <a href="/dp/B01E5XD8OM?ref_=wedding_guest_view_product_tile&amp;colid=6Q97KZPX5FZP&amp;coliid=I2Z8VLY6CAN3KS" class="wedding-product-tile__link" aria-label=""></a>
  </div> -->
</div>

{% endblock %}

