{% extends 'other.html' %}

{% block content %}
<section class="events section-padding wedding-party">
    <div class="container wedding-party-header">
      <div class="row text-center">
        <div class="col-sm-12">
          <h1>Wedding Party</h1>
          <img src="img/flowers/story-accent.png"</img>
        </div>
      </div>
    </div>
    <div class="container wedding-party-body">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/sara.jpeg"></img>
                <h1>Maid of Honor</h1>
                <p>Sara Hipsher</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/jimmy.jpeg"></img>
                <h1>Best Man</h1>
                <p>Jimmy Ray</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/rachel.jpeg"></img>
                <h1>Matron of Honor</h1>
                <p>Rachel Ibarra</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/luke.jpeg"></img>
                <h1>Groomsman</h1>
                <p>Luke Bayless</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/sarah.jpeg"></img>
                <h1>Bridesmaid</h1>
                <p>Sarah Chase</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/brandon.jpeg"></img>
                <h1>Groomsman</h1>
                <p>Brandon Battas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/hattie.jpeg"></img>
                <h1>Bridesmaid</h1>
                <p>Hattie Hynes</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/aj.jpeg"></img>
                <h1>Groomsman</h1>
                <p>A.J. Anderson</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/gabi.jpeg"></img>
                <h1>Bridesmaid</h1>
                <p>Gabi Hubbard</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/alex.jpeg"></img>
                <h1>Groomsman</h1>
                <p>Alex Johnson</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
