{% extends 'other.html' %}

{% block content %}
<section class="events section-padding wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/sara.jpeg"></img>
                <h3>Maid of Honor</h3>
                <p>Sara Hipsher</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/jimmy.jpeg"></img>
                <h3>Best Man</h3>
                <p>Jimmy Ray</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/rachel.jpeg"></img>
                <h3>Matron of Honor</h3>
                <p>Rachel Ibarra</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/luke.jpeg"></img>
                <h3>Groomsman</h3>
                <p>Luke Bayless</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/sarah.jpeg"></img>
                <h3>Bridesmaid</h3>
                <p>Sarah Chase</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/brandon.jpeg"></img>
                <h3>Groomsman</h3>
                <p>Brandon Battas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/hattie.jpeg"></img>
                <h3>Bridesmaid</h3>
                <p>Hattie Hynes</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/aj.jpeg"></img>
                <h3>Groomsman</h3>
                <p>A.J. Anderson</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center leftcol">
                <img src="img/weddingparty/gabi.jpeg"></img>
                <h3>Bridesmaid</h3>
                <p>Gabi Hubbard</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center rightcol">
                <img src="img/weddingparty/alex.jpeg"></img>
                <h3>Groomsman</h3>
                <p>Alex Johnson</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
